In [33]:
import pymysql
import configparser
import csv
import boto3
import re
import pandas as pd
from typing import *

In [35]:
# parser = configparser.ConfigParser()
# parser.read("pipeline.conf")

hostname = 'localhost'
port = 3306
user = 'root'
password = 'ifnt0609'
db = 'log_project'

In [38]:
db = pymysql.connect(
        host=hostname,
        user=user,
        password=password,
        db=db,
        port=int(port)
    )

cursor = db.cursor()

In [37]:
log_csv = pd.read_csv('order_extrect_log.csv')

In [41]:
for index, row in log_csv.iterrows():
    print('index : ', index)
    print('row : ' , row)
    break

index :  0
row :  id                                                                  0
ip                                                     109.98.152.240
time                                              2023-05-31 16:50:57
first_redirect                                https://www.tistory.com
present_redirect    http://www.carter.info/list/categories/search/...
method                                                           POST
request                                 /posts/posts/explore HTTP/1.0
status                                                            200
byte                                                             4968
version                                                   Mozilla/5.0
os                                                            Windows
public              AppleWebKit/533.0 (KHTML, like Gecko) Chrome/5...
browser                                                  Safari/533.0
location                                                           YT
Name: 0, dtype: object

In [ ]:
for index, row in log_csv.iterrows():
    query = f"INSERT INTO log (ip, time, first_redirect, present_redirect, method, request, \
                                status, byte, version, os, public, browser, location) VALUES \
        (\
        '{row['ip']}', '{row['time']}', '{row['first_redirect']}', \
        '{row['present_redirect']}', '{row['method']}', '{row['request']}', \
        '{row['status']}', '{row['byte']}', '{row['version']}', \
        '{row['os']}', '{row['public']}', '{row['browser']}', '{row['location']}'\
        )"

In [ ]:
for index, row in df.iterrows():
    query = f"INSERT INTO log (ip, time, first_redirect, present_redirect, method, request, \
                                status, byte, version, os, public, browser, location) VALUES \
        (\
        '{row['ip']}', '{row['time']}', '{row['first_redirect']}', \
        '{row['present_redirect']}', '{row['method']}', '{row['request']}', \
        '{row['status']}', '{row['byte']}', '{row['version']}', \
        '{row['os']}', '{row['public']}', '{row['browser']}', '{row['location']}'\
        )"
    with db.cursor() as cursor: # 커서 가져오기 
        cursor.execute(query)
    db.commit()

In [ ]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='ifnt0609', db='ecommerce', charset='utf8')
log_db = db.cursor()
sql = """
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
"""

In [7]:
# mysql 
hostname = parser.get("mysql_config", "host")
port = parser.get("mysql_config", "port")
user = parser.get("mysql_config", "user")
password = parser.get("mysql_config", "password")
db = parser.get("mysql_config", "db")

NoSectionError: No section: 'mysql_config'

### 데이터 살펴보기

In [10]:
import pandas as pd

log_csv = pd.read_csv('order_extrect_log.csv')
log_csv.head()

,id,ip,time,first_redirect,present_redirect,method,request,status,byte,version,os,public,browser,location
0,0,109.98.152.240,2023-05-31 16:50:57,https://www.tistory.com,http://www.carter.info/list/categories/search/...,POST,/posts/posts/explore HTTP/1.0,200,4968,Mozilla/5.0,Windows,"AppleWebKit/533.0 (KHTML, like Gecko) Chrome/5...",Safari/533.0,YT
1,1,212.25.28.79,2023-05-31 16:52:34,https://www.naver.com,https://ruiz.com/,GET,/wp-admin HTTP/1.0,404,4997,Mozilla/5.0,Linux,Gecko/6042-12-05 16:21:39,Firefox/4.0,SV
2,2,88.220.148.112,2023-05-31 16:55:44,https://www.instagram.com,http://www.donaldson-murphy.com/,PUT,/search/tag/list HTTP/1.0,200,5036,Mozilla/5.0,Linux,"AppleWebKit/534.1 (KHTML, like Gecko) Chrome/2...",Safari/534.1,RW
3,3,177.137.26.186,2023-05-31 17:03:41,https://www.instagram.com,http://www.cruz.com/posts/homepage/,GET,/posts/posts/explore HTTP/1.0,200,4943,Mozilla/5.0,Windows,Gecko/5669-03-11 19:58:18,Firefox/3.6.18,CN
4,4,19.149.66.194,2023-05-31 17:05:29,https://www.zoom.com,https://www.kelly-yoder.com/,PUT,/search/tag/list HTTP/1.0,200,4998,Mozilla/5.0,Linux,"AppleWebKit/533.0 (KHTML, like Gecko) Chrome/3...",Safari/533.0,CM

In [42]:
log_csv.value_counts('time')

time
2023-05-31 16:50:57    1
2023-07-02 00:49:46    1
2023-07-02 00:47:31    1
2023-07-02 00:45:01    1
2023-07-02 00:42:35    1
                      ..
2023-06-16 09:50:49    1
2023-06-16 09:45:51    1
2023-06-16 09:44:22    1
2023-06-16 09:40:53    1
2023-07-17 17:15:57    1
Length: 23255, dtype: int64

In [13]:
log_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23255 entries, 0 to 23254
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                23255 non-null  int64
 1   ip                23255 non-null  object
 2   time              23255 non-null  object
 3   first_redirect    23255 non-null  object
 4   present_redirect  23255 non-null  object
 5   method            23255 non-null  object
 6   request           23255 non-null  object
 7   status            23255 non-null  int64
 8   byte              23255 non-null  int64
 9   version           23255 non-null  object
 10  os                20272 non-null  object
 11  public            23255 non-null  object
 12  browser           23255 non-null  object
 13  location          23159 non-null  object
dtypes: int64(3), object(11)
memory usage: 2.5+ MB

In [16]:
log_csv.duplicated().sum()

0

In [22]:
log_csv['ip'].value_counts()

109.98.152.240     1
151.115.62.57      1
135.41.141.35      1
51.34.30.176       1
89.138.9.37        1
                  ..
102.239.211.249    1
176.234.165.63     1
199.11.79.117      1
58.10.147.15       1
152.99.234.192     1
Name: ip, Length: 23255, dtype: int64

In [23]:
log_csv['first_redirect'].value_counts()

https://www.linkedin.com     2671
https://www.daum.com         2652
https://www.youtube.com      2596
https://www.zoom.com         2582
https://www.instagram.com    2579
https://www.tistory.com      2561
https://www.facebook.com     2559
https://www.naver.com        2554
https://www.google.com       2501
Name: first_redirect, dtype: int64

In [24]:
log_csv['present_redirect'].value_counts()

http://smith.com/                         14
https://www.smith.com/                    12
http://www.smith.com/                     11
https://johnson.com/                      11
https://smith.com/                        10
                                          ..
http://www.king.com/index.html             1
http://www.anderson-hubbard.org/terms/     1
https://chapman.com/category/              1
http://www.summers.net/app/terms.html      1
http://www.warner-stanley.biz/             1
Name: present_redirect, Length: 22311, dtype: int64

In [25]:
log_csv.columns

Index(['id', 'ip', 'time', 'first_redirect', 'present_redirect', 'method',
       'request', 'status', 'byte', 'version', 'os', 'public', 'browser',
       'location'],
      dtype='object')

In [26]:
log_csv['status'].value_counts()

200    20833
301      974
404      939
500      509
Name: status, dtype: int64

In [27]:
log_csv['byte'].value_counts()

4996    213
5003    210
4994    208
4980    207
4998    207
       ...
5170      1
5180      1
4820      1
4855      1
5185      1
Name: byte, Length: 347, dtype: int64

In [28]:
log_csv['version'].value_counts()

Mozilla/5.0            22019
Opera/9.91.(X11;          13
Opera/9.96.(X11;          11
Opera/9.86.(Windows        9
Opera/8.42.(Windows        9
                       ...
Opera/9.56.(Windows        1
Opera/9.65.(Windows        1
Opera/8.81.(Windows        1
Opera/9.66.(Windows        1
Opera/8.40.(Windows        1
Name: version, Length: 351, dtype: int64

In [29]:
log_csv['os'].value_counts()

Mac        6669
Linux      6135
Windows    4683
iPhone     2785
Name: os, dtype: int64

In [30]:
log_csv['public'].value_counts()

Presto/2.9.172                                                           53
Gecko/59.0                                                               51
Presto/2.9.171                                                           51
Gecko/44.0                                                               50
Gecko/60.0                                                               49
                                                                         ..
Gecko/4120-06-07 18:32:43                                                 1
AppleWebKit/535.20.3 (KHTML, like Gecko) Version/4.0.4                    1
AppleWebKit/532.2 (KHTML, like Gecko) Chrome/49.0.867.0                   1
AppleWebKit/532.1 (KHTML, like Gecko) FxiOS/9.3c6181.0 Mobile/72U637      1
AppleWebKit/536.0 (KHTML, like Gecko) FxiOS/16.3n3437.0 Mobile/63V075     1
Name: public, Length: 19503, dtype: int64

In [31]:
log_csv['browser'].value_counts()

Firefox/3.8         2482
Safari/532.2         586
Safari/532.1         579
Safari/535.0         566
Safari/534.1         564
                    ...
Safari/6531.3.7        1
Safari/531.26.4        1
Safari/6532.4.5        1
Safari/6532.20.3       1
Safari/6531.23.6       1
Name: browser, Length: 1795, dtype: int64

In [32]:
log_csv['location'].value_counts()

WF    123
SO    120
PH    120
ZM    119
NG    118
     ...
NU     76
FI     74
GS     74
KN     73
JM     67
Name: location, Length: 248, dtype: int64

In [ ]:
ELSEIF [선택] = '국가' THEN CASE STR([Location])
    WHEN 'AD' THEN "월요일"
   

AE
AF
AG
AI
AL
AM
AO
AQ
AR
AS
AT
AU
AW
AX
AZ
BA
BB
BD
BE
BF
BG
BH
BI
BJ
BL
BM
BN
BO
BQ
BR
BS
BT
BV
BW
BY
BZ
CA
CC
CD
CF
CG
CH
CI
CK
CL
CM
CN
CO
CR
CU
CV
CW
CX
CY
CZ
DE
DJ
DK
DM
DO
DZ
EC
EE
EG
EH
ER
ES
ET
FI
FJ
FK
FM
FO
FR
GA
GB
GD
GE
GF
GG
GH
GI
GL
GM
GN
GP
GQ
GR
GS
GT
GU
GW
GY
HK
HM
HN
HR
HT
HU
ID
IE
IL
IM
IN
IO
IQ
IR
IS
IT
JE
JM
JO
JP
KE
KG
KH
KI
KM
KN
KP
KR
KW
KY
KZ
LA
LB
LC
LK
LI
LR
LS
LT
LU
LV
LY
MA
MC
MD
ME
MF
MG
MH
MK
ML
MM
MN
MO
MP
MQ
MR
MS
MT
MU
MV
MW
MX
MY
MZ
""
NC
NE
NF
NG
NI
NL
NO
NP
NR
NU
NZ
OM
PA
PE
PF
PG
PH
PK
PL
PM
PN
PR
PS
PT
PW
PY
QA
RE
RO
RS
RU
RW
SA
SB
SC
SD
SE
SG
SH
SI
SJ
SK
SL
SM
SN
SO
SR
SS
ST
SV
SX
SY
SZ
TC
TD
TF
TG
TH
TJ
TK
TL
TM
TN
TO
TR
TT
TV
TW
TZ
UA
UG
UM
US
UY
UZ
VA
VC
VE
VG
VI
VN
VU
WF
WS
YE
YT
ZA
ZM
ZW

END